/*
 * @ name : Mixins.scss
 * @ version : 0.1
 * @ description : mediav UI 的 Mixins通用类部分
 * @ author : 潘国伟 pangw@mediav.com
 * @ update : 2014-02-11
*/

/* 清除浮动浮动 */
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/* 布局自适应居中 */
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// CSS3 部分

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}


.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}



